<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O mnie</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Witaj na stronie domowej</h2>
    <img src="https://image.freepik.com/darmowe-ikony/telefon-auricular_318-1028.jpg" alt="zdjecie" title="telefon">
    <h1>Kontakt:</h1>
    <ul>
        <li> email: email@gmail.com</li>
        <li>telefon: 749874498</li>
    </ul>
    <h3>Wyślij wiadomość</h3>
    <textarea></textarea>
    <input type="submit" value="Prześlij">
</body>
</html>