<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O mnie</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Witaj na stronie domowej</h2>
    <img src="https://ocdn.eu/pulscms-transforms/1/V3Pk9kuTURBXy9mZTVhMTM0Ni1lY2U3LTQ0NDktYWNkYS1kODAzZmRjNjE0YWQuanBlZ5GVAs0DBwDDw4GhMAE" alt="zdjecie" title="krzysztof">
    <h1>O mnie</h1>
    <p><strong>imię:</strong> Jakub</p>
    <p><strong>nazwisko:</strong> P.</p>
</body>
</html>